<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Sklep</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/style.css"/>
</head>
<body>

<div class="container-fluid">
  <div class="row">
  
    <div class="col-md-3 col-sm-6">
      <div class="panel panel-primary">
		 <img src="img/layout1.jpg" class="img-responsive" style="width:100%" alt="Sklep 1">
         <p class=" text-info text-center">Layout 10001</p>
      </div>
    </div>
	
	<div class="col-md-3 col-sm-6">
      <div class="panel panel-primary">
		 <img src="img/layout2.jpg" class="img-responsive" style="width:100%" alt="Sklep 2">
         <p class=" text-info text-center">Layout 10002</p>
      </div>
    </div>
	
	<div class="col-md-3 col-sm-6">
      <div class="panel panel-primary">
		 <img src="img/layout3.jpg" class="img-responsive" style="width:100%" alt="Sklep 3">
         <p class=" text-info text-center">Layout 10003</p>
      </div>
    </div>
	
	<div class="col-md-3 col-sm-6">
      <div class="panel panel-primary">
		 <img src="img/layout4.jpg" class="img-responsive" style="width:100%" alt="Sklep 4">
         <p class=" text-info text-center">Layout 10004</p>
      </div>
    </div>
	
	<div class="col-md-3 col-sm-6">
      <div class="panel panel-primary">
		 <img src="img/layout5.jpg" class="img-responsive" style="width:100%" alt="Sklep 5">
         <p class=" text-info text-center">Layout 10005</p>
      </div>
    </div>
	
    
  </div>	
</div>


  
  
  
  
  
<script src="script.js"></script>
</body>
</html> 